/*-------------
-----------------------------------------------------------fonts-------------------------------------------------
---------------*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');








/*-------------
------------------------------------------------------Global style-----------------------------------------------
---------------*/


/*define custom css variables */
:root{
     --bg-black-900: #000000;
     --bg-black-100:#dddddd;
     --bg-black-50: #eff0f4;
     --text-black-900: #000000;
     --text-black-700: #555555;
     --text-black-600: #666666;
     --text-black-300: #bbbbbb;
     --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
     --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
     --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;

}

body{
     font-size: 16px;
     line-height: 1.5;
     overflow-x: hidden;
     background-color: var(--bg-black-50);
}

*:not(i){
     font-family: 'Raleway', sans-serif;
}


*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     outline:  none;
}


:before,:after{
     box-sizing: border-box;
}


a{
     text-decoration: none;
}

ul{
     list-style: none;
     margin: 0;
     padding: 0;
}

img{
     vertical-align: middle;
     max-width: 100%;
}


.container{
     max-width: 1140px;
     margin: auto;
}







.row{
     display: flex;
     flex-wrap: wrap;
}






.justify-content-between{
     justify-content: space-between;
}




.outer-shadow{
     box-shadow: var(--outer-shadow);                 /* Menu button 3D shadow */
}
.inner-shadow{
     box-shadow: var(--inner-shadow);
}






.hover-in-shadow{
     position: relative;
     z-index: 1;
}






.hover-in-shadow:hover{
     box-shadow: var(--outer-shadow-0); 
}




.hover-in-shadow:after{
     content: '';
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     transition: all 0.3s ease;
}




.hover-in-shadow:hover:after{
     box-shadow: var(--inner-shadow);   
}




.align-items-center{
     align-items: center;
}




.btn-1{
     padding: 10px 25px;
     font-size: 16px;
     font-weight: 500;
     color: var(--skin-color);
     background-color: transparent;
     line-height: 1.5;
     cursor: pointer;
     border-radius: 30px;
     transition: all 0.3s ease;
     display: inline-block;
}
.btn-1:after{
     border-radius: 30px;
}




.effect-wrap .effect{
     position: absolute;
     z-index: -1;
}
.effect-1{                                         /*Effect 1 */
     width:30px;
     height: 30px;
     border: 4px solid #8a49ff;
     right: 10%;
     bottom: 10%;
     animation: spin 10s linear infinite
}
.effect-2{                                        /*Effect 2 */
     left: 3%;
     bottom: 20%;
     width: 40px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     animation: topBounce 3s ease-in-out infinite
}
.effect-2 div{                                   /*Effect 2.1 */
     height: 3px;
     width: 3px;
     background-color: #ff9c07;
     margin: 0 3px 8px;
}
.effect-3{                                       /*Effect 3 */
     height: 180px;
     width: 180px;
     border: 25px solid var(--skin-color);
     border-radius: 50%;
     left: 50%;
     top: -120px;
     animation: leftBounce 3s ease-in-out infinite
}

.effect-4{
     border-top: 30px solid transparent;
     border-left: 30px solid #06d79c;
     left: 30%;
     top: 20%;
     animation: spin 15s linear infinite;
}
.effect-4:before{
     content: '';
     border-top: 30px solid transparent;
     border-left: 30px solid #06d79c;
     position: absolute;
     opacity: 0.5;
     left: -35px;
     top: -25px;
}
.effect-5{
     height: 50px;
     width: 50px;
     right: 10%;
     top: 30%;
     display: flex;
     justify-content: space-between;
     border-radius: 50%;
     overflow: hidden;
     animation: spin 10s linear infinite;
}
.effect-5 div{
     width: 1px;
     background-color: #4dd0e1;
}





@keyframes spin{                                /*Effect 1  rotation */
     0%{
          transform: rotate(0deg);
     }
     100%{
          transform: rotate(360deg);   
     }
}
@keyframes topBounce{                          /*Effect 2 bounce Animation */
     0%,100%{
          transform: translateY(0);
     }
     50%{
          transform: translateY(25px);
     }
}
@keyframes leftBounce{                          /*Effect 3 left-right Animation */
     0%,100%{
          transform: translateX(0);
     }
     50%{
          transform: translateX(25px);
     }
}
@keyframes fadeInTop{
     0%{
          opacity: 0;
          transform: translateY(-25px);
     }
     100%{
          opacity: 1;
          transform: translateY(0px);
     }
}






.section-title{
     /* background-color: red; */
     padding: 0 15px;
     flex:0 0 100%;
     max-width: 100%;
     text-align: center;
     margin-bottom: 60px;
}
.section-title h2{
     /* background-color: blue; */
     display: inline-block;
     font-size: 30px;
     font-weight: 700;
     color: var(--text-black-900);
     text-transform: uppercase;
     margin: 0;
}
.section-title h2:before{                                /* Main info text */
     content: attr(data-heading);
     display: block;
     font-size: 16px;
     font-weight: 600;
     color: var(--skin-color)
}

.section.hide{
     display: none;
}



/*--------------------------------------------------header styling-----------------------------------------------*/


.header{
     /* background-color: grey; */
     padding: 20px 15px;
     position: absolute;
     width: 100%;
     top: 0;
     left: 0;
     z-index: 99;
}


/* .header .logo a{
     display: inline-block;
     text-align: center;
     line-height: 36px;
     height: 40px;
     width:40px;
     font-size: 24px;
     color: var(--skin-color);
     border-radius: 50%;
     border: 2px solid var(--skin-color);
     font-weight: 600;
     text-transform: uppercase;
} */

.header .hamburger-btn{                                        /* Menu 3 horizontal button*/
     height: 40px;     
     width:40px;
     /* background-color: blue; */
     /* box-shadow: 0 0 10px; */
     display: flex;
     align-items: center;
     cursor: pointer;
     border-radius: 50%;
     justify-content: center;
     transition: all 0.3s ease;
}


.header .hamburger-btn:after{
     border-radius:50%;
}


.header .hamburger-btn span{
     display: block;
     height: 2px;
     width: 16px;
     background-color:var(--bg-black-900);
     position: relative;
}


.header .hamburger-btn span:before,
.header .hamburger-btn span:after{
     content: '';
     position: absolute;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: var(--bg-black-900);

}


.header .hamburger-btn span:before{
     top:-6px;
}

.header .hamburger-btn span:after{
     top:6px;
}










/*
 ------------------------------------------------ Navigation Menu styling----------------------------------------
-*/

.nav-menu{
     position:fixed;
     background-color: var(--bg-black-50);
     padding: 0 15px;
     left: 0;
     top:0;
     width: 100%;
     height: 100%;
     z-index:-1;
     opacity: 0;
     visibility: hidden;
     overflow-y: auto;
}
.nav-menu.open{                                           /* navigation menu open and close*/
     visibility:visible;
     opacity: 1;
     z-index: 999;
     transition: all 0.3s ease-in;

}

.nav-menu .close-nav-menu{
     height: 40px;
     width: 40px;
     display: block;
     font-size: 35px;
     line-height:35px;
     border-radius: 50%;
     position: absolute;
     right: 15px;
     top: 15px;
     cursor: pointer;
     text-align: center;
     color: var(--text-black-600);
     transition: all 0.3s ease;
}




.nav-menu .close-nav-menu:after{
     border-radius: 50%;
}

.nav-menu-inner{                                    /* screen open ,after clicking nave manu */
     /* background-color: blue; */
     min-height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
}

.nav-menu ul{                                    /* all option Home/contact me */
     /* background-color: violet; */
     padding: 15px;
}
.nav-menu ul li{
     display: block;
     margin-bottom: 20px;
     text-align: center;
}
.nav-menu ul li:last-child{                    /* space between (Home/contact) items */
     margin-bottom: 0;
}
.nav-menu ul li a{                            /* (Home/contact) items  height styling */
     display: inline-block;
     font-size: 28px;
     font-weight: 600;
     color: var(--text-black-700);
     padding: 5px 30px;
     text-transform: capitalize;
     border-radius: 30px;                    /* (Home/contact) items  button round shape */
     transition: all 0.3s ease;
}
.nav-menu ul li a.active{
     color: var(--skin-color);
}
.nav-menu ul li a :after{
     border-radius: 30px;

}
.nav-menu .copyright-text{                   /* @COPYRIGHT rotation */
     position: absolute;
     left: 0;
     top: 50%;
     font-size: 15px;
     color: var(--text-black-600);
     transform: translateY(-50%) rotate(-90deg);
     left:-60px
}










/*--------------------------------------------------Home Section----------------------------------------------*/
.home-section{
     position: relative;
}
.home-section .full-screen{
     /* background-color: blue; */
     padding: 50px 0;
     min-height: 100vh;
}
.home-section .home-text
/* .home-section .home-img*/{ 
     flex: 0 0 50%;
     max-width: 50%;
     padding: 0 15px;
}

.home-section .home-text p{                          /*Hola*/
     color: var(--text-black-300);
     font-size: 18px;
     text-transform: capitalize;
     margin: 0;
     right: 50%;
}
.home-section .home-text h2{
     font-size: 55px;
     font-weight: 700;
     color: var(--text-black-900);
     margin: 0;
}
.home-section .home-text h1{
     font-size: 20px;
     font-weight: 500;
     color: var(--text-black-700);
     margin: 0;
     text-transform: capitalize;
}
.home-section .home-text .btn-1{                         /*About Me--space   */
     margin-top: 30px;
}
/* .home-section .home-img .img-box{
     max-width: 350px;
     display:block;
     margin:auto;
     border-radius: 50%;
     padding: 15px;
}
.home-section .home-img .img-box img{                   
     width: 100%;
     border-radius: 50%;
     border: 10px solid transparent;
} */












/*
 ------------------------------------------------ About section styling----------------------------------------
-*/

.about-section{
     /* background-color: red; */
     padding: 80px 0 0;
     min-height: 100vh;
}
.about-section .about-img{                                   /* Profile pic size */   
     /* background-color: blue; */
     flex: 0 0 40%;
     max-width: 30%;
     padding: 0 15px;
}
.about-section .about-img .img-box{
     padding: 15px;
     border-radius: 5px;

}
.about-section .about-img .img-box img{
     width: 100%;
     border: 0px solid transparent;
     border-radius: 5px;
}
.about-section .about-img .social-links{                     /* Social media icon */
     /* background-color: red; */
     margin-top: 20px;
     text-align: center;
}
.about-section .about-img .social-links a{
     display: inline-block;
     height: 40px;
     width: 40px;
     font-size: 16px;
     text-align: center;
     color: var(--text-black-600);
     margin: 0 4px;
     border-radius: 50%;
     transition: all 0.3s ease;
}
.about-section .about-img .social-links a i{
     line-height: 40px;
}
.about-section .about-img .social-links a:after{
     border-radius: 50%;
}
.about-section .about-img .social-links a:hover{
     color: var(--skin-color);
}
.about-section .about-info{                                /* About Text on right side */
     /* background-color: red; */
     flex: 0 0 60%;
     max-width: 60%;
     padding: 0 15px;
}
.about-section .about-info p{
     font-size: 16px;
     line-height: 26px;
     margin-bottom: 15px;
     color: var(--text-black-600);
}
.about-section .about-info span{
     font-weight: 600;
}
.about-section .about-info .btn-1{
     margin: 30px 20px 0 0;
}




/*----------------------------------------------------Skill item styling-------------------------------*/


.about-section .about-tabs{                           /* Skills, experience,education tab styling */
     /* background-color: red; */
     margin-top: 90px;
     padding: 60px 15px 50px;
     flex: 0 0 100%;
     text-align: center;
}
.about-section .about-tabs .tab-item{
     display: inline-block;
     margin: 0 5px 10px;
     cursor: pointer;
     padding: 5px 10px;
     border-radius: 30px;
     transition: all 0.3s ease;
     font-size: 16px;
     color: var(--text-black-600);
     font-weight: 500;
     text-transform: capitalize;
}
.about-section .about-tabs .tab-item:hover:not(.active){
     opacity: 0.6;
}
.about-section .about-tabs .tab-item.active{
     color:var(--skin-color);
}





.about-section .tab-content{                                      /* progress bar styling */
     /* background-color: red;  */
     flex: 0 0 100%;
     max-width: 100%;
     display: none;                                              /*click skilss --> show content */
}
.about-section .tab-content.active{                               /* click skilss --> show content CLASS */
     display: block;
     animation: fadeInTop 0.5s ease;
}
.about-section .skills{
     padding: 0 0 40px;
}
.about-section .skills .skill-item{
     flex: 0 0 50%;
     max-width: 50%;
     padding:0 15px;
     margin-bottom: 40px;                                      /* margin between Html,javaScript items */
}
.about-section .skills .skill-item p{                          /* Html, javaScript letter styling */
     font-size: 16px;
     color: var(--text-black-600);
     text-transform: capitalize;
     margin: 0 0 10px;
}
.about-section .skills .skill-item .progress{
     height:20px;
     border-radius: 10px;
     position: relative;
}
.about-section .skills .skill-item .progress-bar{             /* Html, javaScript how much progress bar position */
     background-color: var(--text-black-600);
     height: 6px;
     left: 7px;
     top: 7px;
     position: absolute;
     border-radius: 10px;
}
.about-section .skills .skill-item .progress-bar span{
     /* display: none; */
     position: absolute;
     right: 0;
     top: 0;
     font-size: 16px;
     font-weight:500;
     color: var(--text-black-600);
     margin-top: -40px;
}
/*----------------------------------------------------Skill item styling End-------------------------------*/



















/*----------------------------------------------------Experience item styling Start-------------------------------*/
.about-section .education,
.about-section .experience{
     padding-bottom:80px;
     cursor: pointer;
}
.about-section .timeline{
     /* background-color: red; */
     flex: 0 0 100%;
     max-width: 100%;
     position: relative;
}
.about-section .timeline:before{                   /* Devider between experiene items */
     content: '';
     width: 1px;
     height: 100%;
     left: 50%;
     top: 0;
     background-color: var(--bg-black-100);
     position: absolute;

}
.about-section .timeline .timeline-item{
     /* background-color: red; */
     flex: 0 0 100%;
     max-width: 100%;
     padding: 0 15px;
}
.about-section .timeline .timeline-item:nth-child(odd){          /* 1st Timeline item left side*/
     padding-right: calc(50% + 50px);
     text-align: right;
}
.about-section .timeline .timeline-item:nth-child(even){         /* 2nd Timeline item Right side*/
     padding-left: calc(50% + 50px);  
}

.about-section .timeline .timeline-item-inner{
     padding: 30px;
     border-radius: 5px;
     position: relative;
}
.about-section .timeline .timeline-item-inner:before{          /* little ___ connection between brifcase and timeline*/
     content: '';
     position: absolute;
     width: 30px;
     height: 1px;
     background-color: var(--bg-black-100);
     top: 37px;
     z-index: -1;

}
.about-section .timeline .timeline-item:nth-child(odd) .timeline-item-inner:before{  /* 3rd little ___ connection brifcase */
     right: -30px;
}
.about-section .timeline .timeline-item:nth-child(even) .timeline-item-inner:before{  /* 1st & 2nd little ___ connection brifcase */
     left: -30px;
}
.about-section .timeline .timeline-item-inner .icon{           /* Brifcase icon*/
     height:40px;        
     width: 40px;
     background-color: var(--bg-black-50);                    /* Brifcase icon background color*/
     height:40px;        
     border: 1px solid var(--bg-black-100);
     text-align: center;
     line-height: 40px;
     border-radius: 50%;
     font-size: 16px;
     color: var(--skin-color);
     position: absolute;
     top: 18px;
}
.about-section .timeline .timeline-item:nth-child(odd) .icon{       /* 1st Brifcase icon middle*/
     right: -70px;
}
.about-section .timeline .timeline-item:nth-child(even) .icon{       /* 2nd Brifcase icon middle*/
     left: -70px;
}
.about-section .timeline .timeline-item-inner span{
     font-weight: 500;
     color: var(--skin-color);
     display: block;
     margin: 0 0 10px;
     text-transform: capitalize;
}
.about-section .timeline .timeline-item-inner h3{
     font-size: 20px;
     color: var(--text-black-700);
     font-weight: 600;
     margin: 0 0 5px;
     text-transform: capitalize;
}
.about-section .timeline .timeline-item-inner h4{
     font-size: 16px;
     font-style: italic;
     color: var(--text-black-600);
     margin: 0;
}
.about-section .timeline .timeline-item-inner p{
     font-size: 16px;
     color: var(--text-black-600);
     line-height: 26px;
     margin: 15px 0 0;
}
/*----------------------------------------------------Experience item styling End-------------------------------*/



























/*--------------------------------------------- portfolio section styling Start-----------------------------------*/
.portfolio-section{
     /* background-color: red; */
     padding: 80px 0 80px;
     min-height: 100vh;
}
.portfolio-section .section-title{
     margin-bottom: 40px;
}
.portfolio-section .portfolio-filter{
     /* background-color: red; */
     padding: 0 15px;
     flex: 0 0 100%;
     max-width: 100%;
     text-align: center;
     margin-bottom: 20px;                          /*will give space between ALL/WEB/MobileApp --> portfolio img*/
}
.portfolio-section .filter-item{
     /* border: 1px solid red; */
     display: inline-block;
     margin: 0 5px 10px;
     padding: 5px 10px;
     border-radius: 30px;
     cursor: pointer;
     font-weight: 500;
     color: var(--text-black-600);
     text-transform: capitalize;
     font-size: 16px;
     transition: all 0.3s ease;
}
.portfolio-section .filter-item:hover:not(.active){                       /* After Hover Fade effect */
     opacity: 0.6;
}
.portfolio-section .filter-item.active{                                  /* Active effect */
     color: var(--skin-color);
}
.portfolio-section .portfolio-item{                                     /* will show portfolio img side by side */
     flex:0 0 33.33%;
     max-width: 33%;
     padding: 15px;
     display: flex;
     flex-wrap: wrap;
}
.portfolio-section .portfolio-item-inner{                               /* portfolio image shadow */
     padding: 15px;
     border-radius: 5px;
     cursor: pointer;
     width: 100%;
}
.portfolio-section .portfolio-item-img img{                            /* only portfolio image curve not outter body*/
     border-radius: 5px;
     width: 100%;
     transition: all 0.3s ease;
}
.portfolio-section .portfolio-item-inner:hover .portfolio-item-img img{    /* After Hover pic Fade effect */
     transform: translateY(-25px);
}
.portfolio-section .portfolio-item-img{
     position: relative;
} 
.portfolio-section .portfolio-item-img .view-project{                 /* view project NOT FOR NOW*/
     /* display: none; */
     text-transform: capitalize;
     font-size: 16px;
     font-weight: 500;
     color: var(--skin-color);
     transition: all 0.3s ease;
     position: absolute;
     left: 0;
     bottom: -4px;
     transform: translateY(-5px);
     opacity: 0;                                                   /* VIEW Project hidden when not hovering*/
     z-index: -1;
}
.portfolio-section .portfolio-item-inner .portfolio-item-title{     /* Background Remover Web-App color*/
     color: var(--skin-color);
}

.portfolio-section .portfolio-item-inner:hover .view-project{
     transform: translateY(0px);
     opacity: 1;                                                   /* VIEW Project showing when hovering*/
}
 .portfolio-section .portfolio-item-details{                          /* will not show portfolio details */
     /* display: none; */
}
.portfolio-section .portfolio-item-inner p{                          /* below portfolio text*/
     font-size: 16px;
     margin: 10px 0 0;
     color: var(--text-black-600);
     text-transform: capitalize;
} 

/*--------------------------------------------- portfolio section styling END-----------------------------------*/





















/*--------------------------------------------- Contact section styling Start-----------------------------------*/
.contact-section{
     /* background-color: red; */
     bottom: 0;
     position: relative;
     margin-top: 5rem;
     padding-top: 1rem;
     padding-bottom: 1.9rem;
     background-color: rgba(0, 0, 0, 0.92);
}
.contact-section .section-title{
     margin-bottom: 0px;
}
.contact-section .section-title h2{
    color: #eeeeee;
    margin: 0.5rem;
    text-shadow: 0.1rem 0.1rem #4f4f4f;
    letter-spacing: 0.02857em;
}








.contact-section .email-info{
    color: #eeeeee;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
}
.contact-section .email-info .email-title{
     color: #eeeeee;
     /* background-color: red; */
}
.contact-section .email-link{
     color: #b2dfdb;
}








.contact-section .social-links{                     /* Social media icon field */
     /* background-color: red; */
     margin-top: 0px;
     text-align: center;
}

.contact-section .social-links a{                     /* Social media actual icon */
     /* background-color: red; */
    margin-top: 10px;
    position: relative;
    display: inline-block;
    height: 40px;
    width: 60px;
    font-size: 1.9rem;
    color: #eeeeee;
    margin: 8 4px;
    border-radius: 50%;
    transition: all 0.3s ease;
    text-align: center;
}











/*--footer*/
.footer-section .footer{
     display: flex;
    padding: 0.2rem;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.85);
    color: #eeeeee;
    font-size: 1rem;
}
/*footer end*/





